<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
	<link rel="icon" href="@static_path/favicon.ico">
	<title>我要升级</title>
	<link href="@static_path/libs/timeline/style.css" type="text/css" rel="stylesheet" />
	<link href="@static_2_path/css/team-my-upgrade.css?v=@version" type="text/css" rel="stylesheet" />
</head>
<body class="Hd">
<div class="submit_success">
	<div class="top_box">
		<span class="back_img"></span>
		<span class="img_prompt">提交成功，等待审核...</span>
	</div>
	<div class="process">
		<p class="process_prompt">审核进度</p>
		<div class="process-step">
		</div>
	</div>
</div>

<script src="@static_path/libs/zepto/zepto.min.js"></script>
<!-- <script src="@static_path/libs/jquery/jquery-1.10.2.js"></script> -->
<script src="@static_path/libs/doT-master/doT.min.js" type="text/javascript"></script>
<script src="@static_2_path/bundle/team-my-upgrade-success.js?v=@version"></script>
</body>
</html>
