<!DOCTYPE html>
<html>
<head>
	<title>活动订单</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link href="@static_path/css/activity-oder-list.css?v=@version" type="text/css" rel="stylesheet" />
	<style>
		nav span {
		    text-align: center;
		    color: #999;
		    width: auto;
		}
	</style>
</head>

<body class="Hd">
	<div class="top_div">
		<p class="p_title">活动奖励</p>
		<p class="p_num"></p>
	</div>
	 <nav id="nav">
		<div data-id="007000007" class="nav-tab"><span class="active">我的订单</span></div>
		<div data-id="007000008" class="nav-tab"><span>推荐订单</span></div>
	</nav> 
	<!-- <div class="scroller-container"> -->
		<div class="content" id="page1">
			<div id="scroller">
			   <!--  ## <div id="pullDown">
				##     <span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新...</span>
				## </div> -->
				<ul id="goods-list" class="order-list">
					<!--<li class="item">
						<div class="order_left">
							<p class="top_p">周年礼包</p>
							<p class="bottom_p">2017-7-7</p>
						</div>
						<div class="order_right">
							<p>
								<span class="right_span">李志刚</span>
								<span class="left_span">推荐人：</span>
							</p>
							<p>
								<span class="right_span">李志刚</span>
								<span class="left_span">下单人：</span>
							</p>
						</div>
					</li> 
					<li class="item">
						<div class="order_left">
							<p class="top_p">周年礼包</p>
							<p class="bottom_p">2017-7-7</p>
						</div>
						<div class="order_right">
							<p>
								<span class="right_span">李志刚</span>
								<span class="left_span">推荐人：</span>
							</p>
							<p>
								<span class="right_span">李志刚</span>
								<span class="left_span">下单人：</span>
							</p>
						</div>
					</li> -->
				</ul>
				<div id="pullUp" style="display: none;">
					<span class="pullUpIcon"></span>
					<span class="pullUpLabel">上拉加载更多...</span>
				</div>
				<div class="nomore-data" id="nomore-data">没有更多数据...</div>
			</div>
		</div>
		<div class="wrap-menu">
		</div>
	<!-- </div> -->
	<!-- <script src="@static_path/libs/zepto/zepto.min.js"></script> -->
	<script src="@static_path/libs/zepto/zepto.min.js"></script>
	<script src="@static_path/libs/iscroll/iscroll.js"></script>
	<!-- <script src="@static_path/libs/layer-mobile/layer.js"></script> -->
	<script src="@static_path/libs/doT-master/doT.min.js"></script>
	<script src="@static_path/bundle/activity-oder-list.js?v=@version"></script>
</body>
</html>