<!DOCTYPE html>
<html lang="en">
<head>
	<title>我的订单</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimun-scale=1.0">
	<link href="@static_path/libs/timeline/style.css" type="text/css" rel="stylesheet" />
	<link href="@static_path/css/order-express.css?v=@version" type="text/css" rel="stylesheet" />
</head>
<body class="Hd">
<div class="blk">
	<span class="key">物流公司：</span>
	<span class="value">顺风物流</span>
</div>
<div class="blk orderno">
	<span class="key">物流单号：</span>
	<span class="value">12234234353454354356</span>
</div>
<div class="process">
	<p class="process_prompt">物流跟踪</p>
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture" style="background-color: #e0e0e0;"></div>
			<div class="cd-timeline-content">
				<p>
					<span>总部：</span>
					<span id="pending_audit">待审核</span>
				</p>
			</div>
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture" style="background-color: #e0e0e0;"></div>
			<div class="cd-timeline-content">
				<p>
					<span>新上级：</span>
					<span id="pending_audit">胡小龙</span>
				</p>
				<p>
					<span id="pending_audit">待审核</span>
				</p>
			</div>
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture" style="background-color: #e0e0e0;"></div>
			<div class="cd-timeline-content">
				<p>
					<span>原上级：</span>
					<span id="pending_audit">胡小龙</span>
				</p>
				<p>
					<span id="pending_audit">待审核</span>
				</p>
			</div>
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture" style="background-color: #e0e0e0;"></div>
			<div class="cd-timeline-content">
				<p>
					<span>提交成功：</span>
					<span id="pending_audit">申请级别：</span>
				</p>
				<p>
					<span>总部：</span>
					<span id="pending_audit">待审核</span>
				</p>
			</div>
		</div>
	</section>
</div>
<a class="center-home" href="../center.html"></a>
<script src="@static_path/libs/zepto/zepto.min.js"></script>
<script src="@static_path/libs/doT-master/doT.min.js"></script>
<script src="@static_path/bundle/order-express.js?v=@version"></script>
</body>
</html>