<!DOCTYPE html>
<html lang="en">
<head>
	<title>在线下单</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimun-scale=1.0">
	<link href="@static_path/libs/layer-mobile/layer.css?v=@version" type="text/css" rel="stylesheet" />
	<link href="@static_path/libs/html5-time/css/mobiscroll.custom-2.6.2.min.css" rel="stylesheet" type="text/css" />
	<link href="http://192.168.8.145:3000/css/order-confirm.css?v=@version" type="text/css" rel="stylesheet" />
</head>
<body>
	<div class="address" id="address">
		<!-- <span class="logo"></span>
		<div class="info">
			<span>吕晓创</span>
			<span>15968155124</span>
			<span>浙江省 杭州市 下城区 东新路111号会号中心</span>
		</div> -->
	</div>
	<!-- <div class="goods-price">
		<span class="jine">我的货款：<i>199.00</i></span>
		<span class="add">充值</span>
	</div>
	<div class="ctrl">
		<img src="@static_path/temp/img/goods.png" alt="">
		<div class="about">
			<p>韩束红石榴洁面乳</p>
			<p class="guige">规格：盒</p>
			<p class="price">拿货价：<span id="goods-price">199.3</span></p>
		</div>
		<div class="btn-area">
			<div class="whole">
				<span class="minus" id="minus-btn">—</span><span class="value" id="goodsNum">1</span><span class="add" id="add-btn">+</span>
			</div>
		</div>
		<div class="bottom">
			上级发货
		</div>
	</div>
	<div class="descrip">
		<p>下单说明</p>
		<p>下单说明下单说明下单说明下单说明下单说明下单说明下单说明下单说明</p>
	</div>
	<div class="submit">
		<span class="jine">订单金额：<i id="totalValue">199.00</i></span>
		<span class="submit-btn" id="submit-btn">提交订单</span>
	</div> -->
	<script src="@static_path/libs/zepto/zepto.min.js"></script>
	<script src="@static_path/libs/doT-master/doT.min.js"></script>
	<script src="@static_path/libs/layer-mobile/layer.js"></script>
	<script src="http://192.168.8.145:3000/bundle/order-confirm-test.js?v=@version"></script>
</body>
</html>