<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
	<link rel="icon" href="@static_path/favicon.ico">
	<title>账户设置</title>
	<link href="@static_path/css/account-setting.css?v=@version" type="text/css" rel="stylesheet" />
	<link href="@static_path/libs/layer-mobile/layer.css?v=@version" type="text/css" rel="stylesheet" />
</head>
<body class="Hd">
	<article id="myInfo">
		<!-- <div class="blk">
			<span>我的上级</span>
			<span id="my-up" class="gray">吕晓村 ></span>
		</div>
		<div class="blk">
			<span>授权姓名</span>
			<span class="gray">吕晓村</span>
		</div>
		<div class="blk">
			<span>授权微信</span>
			<span class="gray">heeeeee</span>
		</div>
		<div class="blk">
			<span>注册手机</span>
			<span class="gray">156789809</span>
		</div>
		<div class="blk">
			<span style="position: relative;top: 10px;">收货地址</span>
			<span class="gray">
			<p><span>浙江省 杭州市 下城区</span></p><p><span>东新路1118号兰通财富中心</span></p>
			</span>
		</div>
		<div class="blk">
			<span>手势密码</span>
			<a class="blk-a" href="reset-gesture.html">设置 ></a>
		</div>
		<div class="blk">
			<span>登陆密码</span>
			<a class="blk-a" href="reset-pwd.html">修改 ></a>
		</div>
		<div class="blk main" id="logout" style="display: none;">
			退出帐号
		</div> -->
	</article>
	<!-- <button id="btnmy">click me </button> -->

    <div id="myup-layer" class="myup-layer">
	</div>

	<script src="@static_path/libs/zepto/zepto.min.js"></script>
	<script src="@static_path/libs/layer-mobile/layer.js"></script>
	<script src="@static_path/libs/doT-master/doT.min.js"></script>
	<script src="@static_path/bundle/account-setting.js?v=@version"></script>
</body>
</html>
