<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
	<link rel="icon" href="@static_path/favicon.ico">
	<title>代理注册</title>
	<link href="@static_path/libs/timeline/style.css?v=@version" type="text/css" rel="stylesheet" />
	<link href="@static_2_path/css/dele-register-success.css?v=@version" type="text/css" rel="stylesheet" />
</head>
<body class="Hd">
<div class="container">
	<div class="process-img">
		<span class="img"></span>
		<p>提交成功，等待审核...</p>
	</div>
	<div class="process">
		<p class="title">审核进度</p>
		<div class="process-step">
		</div>
	</div>
</div>
<script src="@static_path/libs/zepto/zepto.min.js"></script>
<script src="@static_path/libs/doT-master/doT.min.js"></script>
<script src="@static_2_path/bundle/dele-register-success.js?v=@version"></script>
</body>
</html>
