<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
	<link rel="icon" href="@static_path/favicon.ico">
	<title>意向申请</title>
	<link href="@static_path/libs/swiper/swiper.min.css" type="text/css" rel="stylesheet" />
	<link href="@static_2_path/css/dele-register-apply.css?v=@version" type="text/css" rel="stylesheet" />
</head>
<body class="Hd">
<div class="carousel">
	<div class="swiper-container swiper-container1">
	  <div class="swiper-wrapper">
	    <!-- <div class="swiper-slide">
	    	<img class="user-pic" src="@static_2_path/images/register.png" alt="">
	    </div>
	    <div class="swiper-slide">
	    	<img class="user-pic" src="@static_2_path/images/register.png" alt="">
	    </div>
	    <div class="swiper-slide">
	    	<img class="user-pic" src="@static_2_path/images/register.png" alt="">
	    </div> -->
	  </div>
	</div>
</div>
<div class="container">
	<form class="choose">
		<p class="choose-title">请选择代理类型</p>
		<div class="swiper-container swiper-container2">
	        <div class="swiper-wrapper" id="swiper-wrapper"></div>
	    </div>
	     <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="remark"></div>
        <p class="per_line"><span class="justify">姓&nbsp;名：</span><input maxlength="25" placeholder="请输入真实姓名" id="name" /></p>
		<p class="per_line"><span class="justify">手机号：</span><input maxlength="11" placeholder="请输入手机号" id="phone" /></p>
		<p class="per_line"><span class="justify">微信号：</span><input maxlength="15" placeholder="请输入微信号" id="weChat" /></p>
		<p class="per_line"><span class="justify">备注说明：</span><input placeholder="备注说明，非必填项" id="remark" /></p>
	</form>
	<div class="next-div">
		<div class="next">提交申请</div>
	</div>
</div>
<script src="@static_path/libs/zepto/zepto.min.js"></script>
<script src="@static_2_path/bundle/dele-register-apply.js?v=@version"></script>
<script src="@static_path/libs/swiper/swiper.min.js"></script>
<script src="@static_path/libs/doT-master/doT.min.js" type="text/javascript"></script>
<script src="@static_path/libs/layer-mobile/layer.js"></script>
</body>
</html>
