<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
	<link rel="icon" href="@static_path/favicon.ico">
	<title>代理注册</title>
	<link href="@static_2_path/css/dele-register-warning.css?v=@version" type="text/css" rel="stylesheet" />
</head>
<body class="Hd">
<div class="container">
	<img src="../images/warning.png">
	<p>您还未注册</p>
	<p><a href="pwd-login.html" style="margin-top: 20px;color: #fff;display: inline-block;padding: 10px;background: #66c300; text-decoration: none;">已有帐号？点击登录</a></p>
</div>
<!-- <script src="@static_path/libs/zepto/zepto.min.js"></script> -->
<script src="@static_path/libs/jquery/jquery-1.10.2.js"></script>
<script src="@static_2_path/bundle/no-register.js?v=@version"></script>
</body>
</html>
