<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>个人中心</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
</head>
<body>
	<div class="qr_code" style="display: none;">
		<img class="qr_code_img" id="qr_code_img" />
		<p class="qr_code_prompt">长按图片识别二维码关注“韩束微商服务号”后重新进入页面注册</p>
	</div>
	<script src="@static_path/libs/layer-mobile/layer.js"></script>
	<script src="@static_path/libs/zepto/zepto.min.js"></script>
	<script src="@static_path/bundle/share-todl.js?v=@version"></script>
</body>
</html>