<!DOCTYPE html>
<html>
<head>
	<title>货款审核</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimun-scale=1.0">
	<link href="@static_path/libs/layer-mobile/need/layer.css?v=@version" type="text/css" rel="stylesheet" />
	<link href="@static_path/libs/html5-time/css/mobiscroll.custom-2.6.2.min.css" rel="stylesheet" type="text/css" />
	<link href="@static_2_path/css/goods-payment-examine.css?v=@version" type="text/css" rel="stylesheet" />
</head>
<body class="Hd">
	<nav>
		<span data_val="1" class="active">待审核</span>
		<span data_val="2">已审核</span>
		<span data_val="3">已取消</span>
	</nav>
	<div class="content" id="page1">
		<div id="scroller">
		   <!--  ## <div id="pullDown">
			##     <span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新...</span>
			## </div> -->
			<ul id="stuList"></ul>
			<div class="no_info">
				<img src="@static_path/images/no.png">
			</div>
			<div id="pullUp">
				<span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多...</span>
			</div>
		</div>
	</div>

	<div class="wrap-menu"></div>

	<!-- <div class="search-btn" id="search-btn"></div> -->
	<div id="search-layer-refuse" class="search-layer">
		<p class="search-title"><span>拒绝原因</span><span class="search-layer-close"></span></p>
		<textarea placeholder="请输入拒绝原因" class="text"></textarea>
		<p class="tool"><span class="search-now" id="confirm">确认</span></p>
	</div>

	<!-- <div id="search-layer" class="search-layer">
		<p class="search-title"><span>搜索</span><span class="search-layer-close
		"></span></p>
		<p>订单类型：
			<select name="" id="setection">
				<option value="1">待审核</option>
				<option value="2">已审核</option>
				<option value="3">已取消</option>
			</select>
		</p>
		<p>开始时间：<input type="text" id="date-begin" /></p>
		<p>截至时间：<input type="text" id="date-end" /></p>
		<p class="tool"><span class="search-now" id="search">立即查找</span></p>
	</div> -->
	<!-- <script src="@static_path/libs/zepto/zepto.min.js"></script> -->
	<script src="@static_path/libs/jquery/jquery-1.10.2.js"></script>
	<script src="@static_path/libs/iscroll/iscroll.js"></script>
	<!-- <script src="@static_path/libs/layer-mobile/layer.js"></script> -->
	<script src="@static_path/libs/html5-time/js/mobiscroll.custom-2.6.2.min.js" type="text/javascript"></script>
	<script src="@static_path/libs/doT-master/doT.min.js" type="text/javascript"></script>
	<script src="@static_2_path/bundle/goods-payment-examine.js?v=@version"></script>
	<script src="@static_path/libs/layer-mobile/layer.js"></script>
</body>
</html>